body {
  margin: 0;
  text-align: center;
}

.error {
  color: red;
}

form {
  margin-top: 100px;
  display: inline-block;
  width: 50%;
}

label,
input {
  display: block;
  width: 100%;
}

form div {
  margin-bottom: 16px;
  text-align: initial;
}
